<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.seleniumwithjavascript.listeners.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="SanityTest">
  
    <classes>
      <class name="com.seleniumwithjavascript.LicenseTest"/>
    </classes>
    
    
    
    
  </test> <!-- SanityTest -->
</suite> <!-- Suite -->
